<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Auto OWL</title>
    <link href="static/style.css" rel="stylesheet" type="text/css">
  </head>
  
  <body style="background-color: #2B2A33;">
    <div style="padding-left: 50%;" id="main-container">
      <div style="background-color: white; width:500px; height:50px; border-radius: 5px; transform: translate(-50%,0);">
        <p style="text-align: center;padding-top: 15px;">Loading data...</p>
      </div>
    </div>
    <script src="static/script.js"></script>
    <div style="padding-left: 50%;">
      <div style="background-color: white; width:500px; padding-bottom: 1px; border-radius: 5px; transform: translate(-50%,0);">
        <h2 style="text-align: center;">Info:
        </h2>
        <p style="text-align: center;">Made by <a href="https://github.com/ingobeans">Ingobeans</a>
        
        <br><br>Keep in mind that Time watched stats only update every 30 minutes.</p>
      </div>
    </div>
  
</body></html>